<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form">
            <h2>Admin Login</h2>
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="onLogin()" class="btn btn-success">Login</button>
                <a routerLink="/home" class="btn btn-warning float-right">Cancel</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>