<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Employee Management System</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a routerLink="admin/ahome" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link"> Add Employee</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Emp Leave</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Meeting</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Queries</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Emp Attendance</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Emp Salary</a></li>
            <li class="nav-item"><a routerLink="" class="nav-link">Edit Profile</a></li>
            <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 20px;">
    <router-outlet></router-outlet>
</div>