.btn {
    width: 120px;
    display: block;
    margin-left: 140px;
    margin-top: 100px;
}

.jumbotron {
    height: 500px;
    padding: 50px;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}